.pollutant-table-container{
  overflow-x: hidden;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.pollutant-table{
    border-collapse: collapse;
    font-size: 2em;
    min-width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

.pollutant-table thead tr{
    font-weight: bold;
    background-color: #403443;
    color: white;
    
}

.pollutant-table td {
    background: rgba(255,255,255,0.2);
}

.pollutant-table tbody tr:last-of-type{
    border-bottom: 10px solid #403443;
    
}

.pollutant-table th, .pollutant-table td {
    border-bottom: 1px solid #403443;
    padding: 8px;
    text-align: left;
  }

.Good{
    color: #006400;
}

.Fair{
    color: #ADFF2F;
}

.Moderate{
    color: #FFFF00;
}

.Poor{
    color: #FF4500;
}

.Very-Poor{
    color: #8B0000;
}